// Colors 
$black: #000;
$white: #fff;
$blue-crayola: #008DD5;
$platinum: #E5E5E5;
$dark-grey: #333333;
$light-grey: #d4d4d4;
$purple: #6200ee;

// Function to convert px to rem
@function rem-calc($size) {
    $remSize: $size / 16;
    @return #{$remSize}rem;
}

// Font Size
$font-size-8: rem-calc(8);
$font-size-9: rem-calc(9);
$font-size-10: rem-calc(10);
$font-size-11: rem-calc(11);
$font-size-12: rem-calc(12);
$font-size-13: rem-calc(13);
$font-size-14: rem-calc(14);
$font-size-16: rem-calc(16);
$font-size-18: rem-calc(18);
$font-size-20: rem-calc(20);
$font-size-24: rem-calc(24);
$font-size-28: rem-calc(28);
$font-size-32: rem-calc(32);
$font-size-34: rem-calc(34);
$font-size-40: rem-calc(40);
$font-size-48: rem-calc(48);
$font-size-56: rem-calc(56);
$font-size-60: rem-calc(60);
$font-size-72: rem-calc(72);
