.search-btn {
  padding: 5px;
  width: 70px;
  max-width: 50%;
  font-size: $font-size-12;
  background: $white !important;
  color: $dark-grey !important;
  margin-left: 5px;
  margin-bottom: 3px;
  height: 32px;
  @include sm {
    height: 40px;
    width: 100px;
  }

  &:hover {
    background: $platinum !important;
  }
}