.notification-container {
  @include flex-row;
  justify-content: center;
  width: 100%;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 60px;
}

.alert {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 0;
  @include xl {
    width: 95%;
  }
}
.mdc-alert__close-button {
  cursor: pointer;
  font-size: $font-size-20;
  font-weight: 100;
  color: $dark-grey;
}

.md-error-icon {
  cursor: pointer;
}
