.pagination-container {
  @include flex-row;
  justify-content: flex-end;
  width: 100%;
  max-width: 90%;
  margin-top: 18px;
  background-color: yellow;
  @include sm {
    @include flex-row;
    justify-content: flex-end;
    width: 100%;
    max-width: 80%;
    margin-top: 18px;
  }
}

.pagination-wrapper {
  @include flex-row;
  align-items: center;
  width: 20%;
  // background: red;
  justify-content: space-between;
}

.pagination-btn {
  width: 50px;
  height: 40px;
  border-radius: 5px;
  border-color: transparent;
}

.mdc-pagination .mdc-button {
  background: $light-grey !important;
  color: $white !important;
  border: none !important;
  width: 35px !important;
  height: 35px !important;
  color: $dark-grey !important;

  &:hover {
    cursor: pointer !important;
    background: $dark-grey !important;
    color: $white !important;
  }
  &:active {
    background: $light-grey !important;
  }
}
