.search-input {
    width: 100px;
    min-width: 10%;
    height: 30px;
    border-radius: 5px;
    padding-left: 12px;
    font-size: $font-size-16;
    color: $dark-grey;
  @include sm {
    width: 200px;
    min-width: 60%;
    height: 38px;
  }
  @include md {
    width: 300px;
  }

  &:focus{
    outline: none;
  }

  &::placeholder {
    color: $dark-grey;
    font-size: $font-size-16;
  }
}

.mdc-floating-label {
  color: $white !important;
  border: none !important;
}

