.spinner-wrapper {
  @include flex-col;
  justify-content: center;
  height: 60vh;
}

.spinner-text {
  font-size: $font-size-20;
  color: $dark-grey !important;
  margin-top: 10px;
}

.mdc-circular-progress__indeterminate-circle-graphic {
  stroke: $dark-grey;
}