.home-container {
  @include flex-col;
  justify-content: center;
  @include lg {
    align-items: center;
  }
}

.github-repo-list-container {
  @include flex-col;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
}